<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<div th:replace="fragment/linksHeader :: links"></div>
</head>
<body>
	<div th:fragment="menu" style="position: absolute;">
		<div style="border: 1px solid white; height: 700px; border-radius:10px;  width: 300px; padding: 30px; background-color: #393b44;">
			<div class="row">
				<div class="col-sm">
					<div style="border: 1px solid white; height: 180px; padding: 10px; margin-bottom:40px;">
						<h5 style="color:white; text-decoration:none;">Secci&oacute;n de filtros</h5>
						<p style="color:white;">En &eacute;sta secci&oacute;n podr&aacute;s filtrar tu b&uacute;squeda de productos, sin embargo, tambi&eacute;n 
						puedes buscar productos por palabras clave en la barra superior derecha 'buscar'.</p>
					</div>
					<form>
						<select style="width: 238px;" class="form-control">
							<option>Proveedor</option>
						</select>
						<br>
						<select style="width: 238px;" class="form-control">
							<option>Categor&iacute;a</option>
						</select>
						<br>
						<select style="width: 238px;" class="form-control">
							<option>Subcategor&iacute;a</option>
						</select>
						<input type="number" placeholder="Precio m&iacute;nimo" style="width: 238px;  margin-top: 22px;" class="form-control">
						<input type="number" placeholder="Precio m&aacute;ximo" style="width: 238px; margin-top: 22px;" class="form-control">
						<button class="btn btn-secondary" style="width:100px; margin-top: 22px;">Buscar</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>