@charset "ISO-8859-1";

#imgFondo{
	position: fixed;
}

#tablaPrincipal{
	margin-left: 200px;
}

#divisionPrincipal, #divisionNoHayProductos, #divisionSiHayProductos{
	border: 1px solid lightgray;
	height: 900px;
	width: 400px;
	background-color: white;
	opacity: 0.9;
	border-radius: 10px;
	margin-top: 90px;
}

 #divisionSiHayProductos{
 	border: 1px solid lightgray;
	height: 500px;
	width: 480px;
	background-color: white;
	opacity: 0.9;
	border-radius: 10px;
	margin-top: 90px;
 }

#divisionPrincipal{
	margin-right: 160px;
}

#tituloCategoria{
	text-align: center;
	font-size: 25px;
	font-family: sans-serif;
	margin-left: 50px;
}

#botonGuardar{
	margin-top: 30px;
	margin-left: 85px;
	border: 1px solid lightgray;
	height: 35px;
	width: 100px;
	border-radius: 5px;
	background-color: black;
	color: white;
}

#botonGuardar:hover{
	font-size: 17px;
}

select{
	width: 180px;
}

.etiqueta{
	margin-right: 10px;
}

#divisionNoHayProductos{
	text-align: center;
}

#mensajeNoHayProductos{
	font-family: cursive;
	font-size: 30px;
}

.filaProductos{
	text-align:center;
}

.columnaProductos{
	text-align:center;
	border: 1px solid lightgray;
}

















