@charset "ISO-8859-1";

body{
	background: linear-gradient(to bottom, #fcdab7, #1e5f74 , #133b5c, #1d2d50, black);
	overflow-x: hidden;
}

#divisionDatos{
	margin-top: 120px;
	margin-left: 150px;
	margin-right: 100px;
	background: linear-gradient(to bottom, #cd0a0a, blue);
	border: 3px solid black;
	height: 450px;
	width: 480px;
	border-radius: 300px;
	opacity: 0.9;
}

#divisionNoHaySubcategorias{
	background: linear-gradient(to bottom, red, yellow);
	border: 5px solid white;
	height: 450px;
	width: 480px;
	border-radius: 20px;
	opacity: 0.9;
	text-align: center;
	margin-top: 120px;
}

#mensajeNoHayCategorias{
	font-family: cursive;
	font-size: 30px;
}

#titulo{
	font-size: 28px;
	color: white;
}

hr{
	background-color: white;
}

#categoria, #nombre{
	margin-left: 20px;
	margin-right: 10px;
	color: white;
}

select{
	width: 182px;
}

#guardar{
	margin-top: 50px;
	margin-left: 120px;
	background-color: red;
	border: 1px solid darkred;
}

#guardar:hover{
	filter: brightness(0.9);
}

#tablaSubcategorias{
	background: linear-gradient(to bottom, red, yellow);
	border: 3px solid white;
	height: 450px;
	width: 480px;
	border-radius: 20px;
	opacity: 0.9;
	text-align: center;
	margin-top: 120px;
}

#columnaNombre, #columnaCategoria, #columnaEditar, #columnaEliminar{
	border-right: 1px solid white;
	border-left: 1px solid white;
}

.tituloTabla{
	font-size: 23px;
}

#divEsp1{
	height: 20px;
}





















