@charset "ISO-8859-1";

#divisionPrincipal{
	margin-top: 100px;
	border: 2px solid lightgray;
	width: 400px;
	margin-left: 490px;
	border-radius: 20px;
	position: absolute;
	background-color: white;
	opacity: 0.9;
	position: fixed;
}

table {
	margin-left: 60px;
	border-radius: 20px;
}

.colCentrado{
	text-align: center;
}

.titulo{
	font-size: 30px;
	font-family: inherit;
}

#divEsp1{
	height: 10px;
	border-bottom: 1px solid lightgray;
	margin-bottom: 15px;
}

#divEsp2{
	height: 20px;
	border-bottom: 1px solid lightgray;
	margin-bottom: 10px;
}

.division {
	margin-bottom: 10px;
}

input {
	margin-left: 4px;
}

#validar{
	margin-bottom: 20px;
	border: 1px solid lightgray;
	width: 100px;
	height: 30px;
	border-radius: 10px;
	background-color: lightblue;
}

#validar:hover{
	filter: brightness(0.9);
}

#errorCodigo{
	height: 25px;
	width: 220px;
	color: red;
	margin-left: 40px;
	margin-top: 5px;
}

#columnaErrorCodigo{
	text-align: center;
}

img{
	position: fixed;
	/*height: 690px;
	width: 1360px;*/
}

body{
	background-color: black;
	display: flex;
}





