<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Proyecto / registroProducto</title>
<div th:replace="fragment/linksHeader :: links"></div>
<link rel="stylesheet" th:href="@{/css/registroProducto.css}">
</head>
<body style="overflow-x: hiden">

	<div class="form-group" th:replace="fragment/vendedor/navBar :: nav"></div>

	<div>
		<img id="imgFondo" src="images/fondos/registroProducto.png">
		<table id="tablaPrincipal">
			<tr>
				<td>
					<div id="divisionPrincipal">
						<form action="#" th:object="${producto}"
							th:action="@{/guardarProducto}" method="post" enctype="multipart/form-data"> 
							<input type="hidden" id="agregarUrl" th:field="*{urlFoto}">
							<input type="hidden" id="cambioUrl" name="cambioUrl"
								value="false">
							<table id="tablaFormulario" align="center">
								<thead>
									<tr>
										<th colspan="2" id="tituloCategoria">Gesti&oacute;n de
											productos
											<hr>
										</th>
									</tr>
									<br>
								</thead>
								<tbody>
									<tr>
										<td><br> <span class="etiqueta">Nombre:</span></td>
										<td><br><input type="text" placeholder="Nombre"
											required="true" th:field="*{nombre}" /></td>
									</tr>
									<tr>
										<td><br> <span class="etiqueta">Cantidad:</span></td>
										<td><br> <input type="number" placeholder="Cantidad"
											required="true" th:field="*{cantidad}" /></td>
									</tr>
									<tr>
										<td><br> <span class="etiqueta">Subcategor&iacute;a:</span></td>
										<td><br> <select th:field="*{idSubcategoria}">
												<option value="0">Seleccionar</option>
												<option th:each="subcategoria : ${listaSubcategorias}"
													th:value="${subcategoria.id}"
													th:text="${subcategoria.nombre}"></option>
										</select></td>
									</tr>
									<tr>
										<td><br> <span class="etiqueta">Bodega:</span></td>
										<td><br> <select th:field="*{idBodega}">
												<option value="0">Seleccionar</option>
												<option th:each="bodega : ${listaBodegas}"
													th:value="${bodega.id}"
													th:text="${bodega.nombre}"></option>
										</select></td>
									</tr>
									<tr>
										<td><br> <span class="etiqueta">Proveedor:</span></td>
										<td><br> <select th:field="*{nombreProveedor}">
												<option value="0">Seleccionar</option>
												<option th:each="proveedor : ${listaProveedores}"
													th:value="${proveedor.nombre}"
													th:text="${proveedor.nombre}"></option>
										</select></td>
										<br>
									</tr>
									<tr>
										<td><br> <span class="etiqueta">Precio:</span></td>
										<td><br> <input type="number" placeholder="Precio" required="true"></td>
										<br>
									</tr>
									<tr>
										<td><br>
										<label for="file-upload" class="subir btn btn-primary">Cargar
												imagen <i class="fas fa-cloud-upload-alt"></i>
										</label></td>
										<td><br>
											<div class="form-group ">
												<input type="file" id="file-upload" accept="image/*"
													class="form-control-file" style='display: none;'
													name="file">
												<!--  	<span th:if="${#fields.hasErrors('urlFoto')}"
												th:errors="*{urlFoto}" class="text-danger"></span>  -->
												<div>
													<img id="imcargar" src="/images/sinfoto.jpg"
														class="img-fluid rounded mt-2"
														style='width: 14rem; heigth: auto;'>
												</div>
											</div></td>
									</tr>
									<tr>
										<td colspan="2">
											<hr>
											<button type="submit" id="botonGuardar">Guardar</button>
										</td>
									</tr>
								</tbody>
							</table>
						</form>
					</div>
				</td>

				<td>
					<div id="divisionNoHayProductos"
						th:if="${listaProductos.isEmpty()}">
						<br> <br> <br> <br> <br> <br> <br>
						<br> <span id="mensajeNoHayProductos">A&uacute;n no
							hay productos registrados. :(</span>
					</div>

				</td>
				<td>

					<div id="divisionSiHayProductos"
						th:if="${!listaProductos.isEmpty()}">
						<table align="center">
							<thead>
								<br>
								<tr class="filaProductos">
									<th class="columnaProductos">Nombre</th>
									<th class="columnaProductos">Cantidad</th>
									<th class="columnaProductos">Categor&iacute;a</th>
									<th class="columnaProductos">Proveedor</th>
									<th class="columnaProductos">Editar</th>
									<th class="columnaProductos">Eliminar</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="producto : ${listaProductos}" class="filaProductos">
									<td th:text="${producto.nombre}" class="columnaProductos"></td>
									<td th:text="${producto.cantidad}" class="columnaProductos"></td>
									<td th:text="${producto.subcategoria.nombre}"
										class="columnaProductos"></td>
									<td th:text="${producto.proveedor.nombre}"
										class="columnaProductos"></td>
									<td class="columnaProductos"><a
										th:href="@{/editarProducto/{id}(id=${producto.id})}"><i
											class="fas fa-edit"></i></a></td>
									<td class="columnaProductos"><a
										th:href="@{/eliminarProducto/{id}(id=${producto.id})}"><i
											class="fas fa-trash-alt"></i></a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</td>
			</tr>
		</table>
		<div id="footer"></div>
	</div>
	<script src="js/subirImagen.js" th:src="@{/js/subirImagen.js}"></script>
</body>
</html>